@tailwind base;
@tailwind components;
@tailwind utilities;

.EmojiPickerReact {
    position: absolute !important;
    bottom: 5rem !important;
}

.audio-recorder {
    margin-left: 15px;
}

.makeGrpModal {
    background: #2e382f !important;
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    color: white;
}

.addParticipantModal {
    background: #2e382f !important;
    max-width: 500px;
    width: 100%;
    min-height: 700px;
    color: white;
}

.dissapearing-modal {
    background: #2e382f !important;
    max-width: 200px;
    width: 100%;
    min-height: 200px;
    color: white;
}